<div class="container">
    <% @cards.each do |card| %> 
      <div class="Card">
      <div class = "Customer"> <%= h truncate(card.customer_name, :length => 15)%> </div>
      <div class = "Phone number"> Phone Number: <%= card.phone_number %></div> </br>
      <div class = "Points"> Points: <%= card.points %></div>
      </div><br />
      <% end %>
</div>
<%= link_to "Back to business homepage", business_options_path %>
