<div class = "container" >
    Welcome to Treat Yo' Self.
    <p><%=link_to 'Click here if you are a customer', customer_path %></p>
    <p><%=link_to 'Click here if you are a business', business_update_points_path %></p>
    </div>
    