<div class = "container" >
    Phone number is not found. Please click the link below to enter in a correct phone number.
    <%=link_to '/business/update_points', business_update_points_path %>
    </div>
    

    