<h2><em>Search phone numbers here! (JK)</em></h2>

<%= form_for(@card , url: {action: 'do_update_card'}) do |f| %>
    	<div class="field">
        <%= f.text_area :points %>
    </div>
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
<% end %>