// Place all the styles related to the customer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #aaccff;
}

.Card {
    font-size: 18pt;
    padding: 25px;
    border-radius: 15px;
    margin-top: 10px;
    background-color: #ddeeff;
    display: inline-block;
    border: 3px solid;
}
.container {
    padding-left: 75px;
    padding-top: 25px;
}