// Place all the styles related to the customer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #aaccff;
}

input {
    width: 200px;
}

.search-bar {
    padding-left: 76px;
}

.Card {
    font-size: 18pt;
    padding: 25px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #d3d3d3;
    display: inline-block;
    border: 3px solid;
    width: 300px;
    max-width: 300px;
    height: 75px;
    max-height: 75px;
}

.Card .cardlogo {
    float: left;
}

.Card .cardname {
    float: left;
    padding-left: 10px;
}

.Card .cardpts {
    float: right;
}


.container {
    padding-left: 75px;
    padding-top: 25px;
}
