  <!--<div class="header">
  
<div class="container">
     <h1>phone_number</h1>
    </div>
</div>
-->
<div class="Card">
  <div class="container">
    <% @cards.each do |card| %> 
    <%= card.business_name %>
    <%= card.points %>
    </div>
</div>